/* Navbar */
.profile-description-short{
    align-items: center;
    bottom: 3rem;
}
.profile-description-short .profile-logo{
    width: 5.6rem; 
    height: 5.6rem;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.25);
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    text-align: center;
}
.profile-description-short .profile-logo .profile-logo-image{
    width: 115%;
    left: 0.5em;
    bottom: 0.7em;
    /* transform: translate(-0.0.2rem, 1rem); */
}

.social-icon{
    width: 5rem;
}
.hr-profile{
    width: 80%;
    height: 2px;
    background-color: rgba(28, 28, 28, 1);
    position: relative;
    bottom: 2rem;
  }

.hr-profile-top{
  bottom: 4rem;
}


.content-section{
    padding:2.5rem 3rem 2.5rem 3rem !important;
}




  .profile-btn{
    padding: 11px 1.2rem 11px 1.2rem;
    border-radius: 2rem;
}
.profile-projects{
    background: #ED3024;
    box-shadow: 0px 7px 17px -10px rgba(242, 63, 63, 0.2);
}
.profile-contact{
    background: #3137C9;
    box-shadow: 0px 7px 17px -10px rgba(32, 84, 219, 0.35);
}
/* Navbar */

.item .card img{
    height: 15em;
}

/* Daily card videos */
.item .card .img-overlay{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 52.08%, rgba(0, 0, 0, 0.5) 100%), url(.jpg);
}
.item .card h5{
    font-size: 0.9rem;
    font-weight: 400;
    top: 0.4rem;
    left: 0.4rem;
}
.item .card  p{
    font-size: 0.9rem;
    font-weight: 400;
    right: 0.4rem;
    bottom: 0px;
}








.helloImg img {
  height: auto;
  cursor: pointer;
  animation-name: wave-animation;
  animation-duration: 2.5s;
  /* Change to speed up or slow down */
  animation-iteration-count:calc(2);
  /* Never stop waving :) */
  transform-origin: 70% 70%;
}
.helloImg img{
  width: 3rem;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  /* five values can be played with to make the waving more or less */
  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}




#sidebar-wrapperRight {
    min-height: 100vh;
    /* margin-left: -23rem; */
    transition: margin 0.25s ease-out;
    box-shadow: 5px 0px 15px rgba(5, 5, 5, 0.1);
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapperRight .sidebar-wrapper-inner{
    width: 20rem;
    overflow: hidden;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  } 
  
  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
  }
  






































































































/* Mobile Devices */
@media (max-width: 480px) {
    .helloImg img{
        width: 2.5rem;
      }
    .profile-description-short{
        padding: 0px 10px 0px 10px;
        text-align: left;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        bottom: 1rem;
    } 
    .profile-description-short .profile-logo{
        width: 5rem; 
        height: 5rem;
        /* top:2rem; */
    }  
    .hr-profile-top{
        width: 90%;
        height: 2px;
        background-color: rgb(49, 47, 47);
        bottom: 0.5em;
    }
    .profile-description-short-text{
        position: relative;
        top: 0.4rem;
    }
    .hidden-sm {
        display: none !important;
    }
    .pofile-bg-image{ height: 1rem; }


    /* Daili card */
    .item .card img{
        height: 10%;
    }
    .content-section{
        padding:2.5rem 1.5rem 2.5rem 1.5rem !important;
    }
}



/* Low resolution Tablets and iPads */
@media (min-width: 481px) and (max-width: 767px) {
    .profile-description-short{
        padding: 0px 10px 0px 10px;
        text-align: left;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        bottom: 1rem;
    } 
    .profile-description-short .profile-logo{
        width: 5rem; 
        height: 5rem;
        /* top:2rem; */
    }  
    .hr-profile-top{
        height: 2px;
        background-color: rgb(49, 47, 47);
        transform: translateY(3rem);
    }
    .profile-description-short-text{
        position: relative;
        top: 0.4rem;
    }
    .hidden-sm {
        display: none !important;
    }
    /* .pofile-bg-image{ height: 1rem; } */
    .hr-profile-top{
        width: 85%;
        background-color: rgba(255, 255, 255, 0.1);
        position: relative;
        bottom: 3.4rem;
    }
    
    /* Daily card stories */
    .item .card {
        height: 16em;
        width: 12em;
    }
    .content-section{
        padding:2.5rem 1rem 2.5rem 1rem !important;
    }

}
        




/* Tablets iPads (Portrait) */
@media (min-width: 768px) and (max-width: 991.98px){
    .hidden-sm {
        display: none !important;
    }
    .profile-description-short{
        padding: 0px 10px 0px 10px;
        text-align: left;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        bottom: 1rem;
    }
    .profile-description-short .profile-logo{
        width: 5rem; 
        height: 5rem;
    }
    .profile-description-short-text{
        position: relative;
        top: 0.4rem;
    }
    .hr-profile{
        width: 85%;
        background-color: rgba(255, 255, 255, 0.1);
        position: relative;
        bottom: 0.5rem;
    }  
}
    

#sidebarToggle{display: none;}
@media (max-width: 1100px){
    #sidebarToggle{display: block;}
}




/* Laptops and Desktops */
@media (min-width: 992px) and (max-width: 1280px){
    .hidden-lg{display: none;}
    .profile-description-short{flex-direction: column;}
} 
    


/* Big boi Monitors */
@media (min-width: 1281px) {
    .hidden-lg{display: none;}
}
