{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Django Easy Pjax test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">

</head>
<body>
<!-- <nav class="navbar navbar-default" role="navigation"> -->
    <!-- <div class="container"> -->
            <!-- <a class="navbar-brand" href="{% url 'main:home' %}">easy-pjax</a> -->
            <!-- <ul class="nav navbar-nav">
                <li><a href="{% url 'main:about' %}"><span class="glyphicon glyphicon-star"></span> Page 1</a></li>
                <li><a href="{% url 'main:test' %}"><span class="glyphicon glyphicon-fire"></span> Page 2</a></li>
            </ul> -->
            <!-- <p class="checkbox navbar-text" data-toggle="tooltip" data-placement="bottom" title="Turn PJAX loading on/off"> -->
                <!-- <label> -->
                    <input type="checkbox" checked="checked" hidden> 
                <!-- </label> -->
            <!-- </p> -->
            <p class="navbar-text hidden" id="loading"><span class="glyphicon glyphicon-refresh"></span> Loading..</p>
    <!-- </div> -->
<!-- </nav> -->














        <div class="col-sm-12" id="pjax-container">
            {% block content %}
            {% endblock %}
        </div>























<script type="text/javascript" src="//code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'jquery.pjax.js' %}"></script>
<script type="text/javascript" src="{% static 'script.js' %}"></script>
</body>
</html>