<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AbdulazizovBlog</title>
</head>
<body>
    <h3> Hello, World ! </h3>
    
    {% for story in object_list %}
        <h5> {{story}} </h5>

    {% endfor %}
        

    
    {% for key,value in date_list.items %}
        {{key}}
        {{value}}

        {% for st in value %}    
        {{st.title}}
        {% endfor %}
                    

        <br><br><br><br><br>
    {% endfor %}
        


    









</body>
</html>